.ScrollingImage {
  max-width: 100px;
  object-fit: contain;
  max-height: 2.5rem;
}

.inner {
  position: relative;
  width: 100%;
  height: 3.75rem;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  display: flex;
}

section {
  display: flex;
  animation: swipe var(--speed) linear infinite backwards;
  justify-content: space-evenly;
  gap: 1rem;
  padding-left: 1rem;
}

@media (min-width: 640px) {
  section {
    gap: 2rem;
    padding-left: 2rem;
  }
  .inner {
    height: 3.75rem;
  }
}

.hover-pause:hover * {
  animation-play-state: paused !important;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}
